<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>    
    <!--Run = 1, ExecutiveProhibited = 2, SelfTest = 3-->
    <add key="ApplicationMode" value="1" />    
    <add key="MailServer" value="relay.upc.cz"/>
    <add key="MailFrom" value="control.fenix@upc.cz"/>
    <add key="MailTo" value="michal.rezler@upc.cz"/>
    <add key="MailSelfTest" value="michal.rezler@upc.cz"/>
    <add key="PhoneNumber" value="778489631"/>
    <add key="Login" value="admin"/>
    <add key="Password" value="Heslo*123"/>                              
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <!--<defaultProxy enabled="true">-->
      <proxy proxyaddress="http://172.30.68.1:80" />
    </defaultProxy>
  </system.net>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <connectionStrings>
    <add name="FenixEntities" connectionString="metadata=res://*/FenixModel.csdl|res://*/FenixModel.ssdl|res://*/FenixModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ws8sql3;initial catalog=Fenix;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="SmsSendSoap" />
        <binding name="FenixSoapWebSvcSoap" openTimeout="02:10:00" closeTimeout="02:10:00" sendTimeout="02:10:00" maxReceivedMessageSize="6400000" maxBufferSize="6400000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="SmsSendSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="FenixSoapWebSvcSoap12" openTimeout="02:10:00" closeTimeout="02:10:00" sendTimeout="02:10:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    
    <client>
      <endpoint address="http://smssendsvc/smssend.asmx" binding="basicHttpBinding"
        bindingConfiguration="SmsSendSoap" contract="SmsSend.SmsSendSoap"
        name="SmsSendSoap" />
      <endpoint address="http://smssendsvc/smssend.asmx" binding="customBinding"
        bindingConfiguration="SmsSendSoap12" contract="SmsSend.SmsSendSoap"
        name="SmsSendSoap12" />
      
      <!--<endpoint address="http://localhost:49960/FenixSoapWebSvc.asmx"
        binding="basicHttpBinding" bindingConfiguration="FenixSoapWebSvcSoap"
        contract="FenixSoapService.FenixSoapWebSvcSoap" name="FenixSoapWebSvcSoap" />-->

      <endpoint address="https://fenix.upc.cz/FenixSoapWebSvc.asmx"
          binding="basicHttpBinding" bindingConfiguration="FenixSoapWebSvcSoap"
          contract="FenixSoapService.FenixSoapWebSvcSoap" name="FenixSoapWebSvcSoap" />

      <endpoint address="https://fenix.upc.cz/FenixSoapWebSvc.asmx"
          binding="customBinding" bindingConfiguration="FenixSoapWebSvcSoap12"
          contract="FenixSoapService.FenixSoapWebSvcSoap" name="FenixSoapWebSvcSoap12" />

    </client>
    
  </system.serviceModel>
  
</configuration>